html, body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

header a.logotype{
    display: flex;
    align-items: center;
    gap: 5px;
    color:white;
    margin-left: 20px;
}

header{
    background: #000;
    color: #fff;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
}

header h1{
    margin: 0;
    font-size: 20px;
}

header img {
    width: 30px;
    height: 30px;
}
header span{
    margin: 0 0 0 auto;
}

.rightauto{
    margin-right: auto;
}

main {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    gap: 20px;
}

#sidebar-right, #sidebar-left {
    width: 200px;
    height: 500px;
    border-radius: 15px 15px 0 0;
}

#content {
    width: 600px;   
    height: 650px;
    padding: 20px;
}

footer{
    background: #CCC;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }


header nav {
    margin: 0 0 0 auto;
    margin-right: 15px;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: o;
    list-style-type: none;
    gap: 20px;
}

header nav ul li a  {
    color: white;
    padding-bottom: 7px;
}

.wrapper {
        width: 1000px;
        margin: 0 auto;
}

main.wrapper {  
    margin: 20px auto
}

main {
    display: flex;
    gap: 20px;
}

.active{
    border-bottom: 4px solid maroon;
}

.card {
    border: 0px solid black;
    border-radius: 15px;
    margin: 0 0 10px 0;
    background-color:ghostwhite;
}   
.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card div {
    padding: 20px;
    margin: 0 0 10px 0
}

.card div p {
    margin: 0;
}

.card.horizontal {
    display: flex;
    margin: 10px 0 10px 0;
    background-color: ghostwhite;
}

.card.horizontal img {
    border-radius: 15px 0 0 15px;
}

.card div span{
    background-color: #974545;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
}

.card h3, p {
    margin: 0 0 10px 0;

}

#content h1, h2, p {
    margin: 0 0 10px 0;
    padding: 2px;
    margin: 0 auto;
}

table, th, td{
    border: 1px solid grey
}

th, td {
    padding: 5px 10px;
}

table {
    border-collapse: collapse;
}